html,
body,
#root,
#root > div {
  height: 100%;
}

html,
body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Roboto";
  color: #292929;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

#unloggedRoot {
  background-image: url("./../img/coupleDraw.jpg");
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
